<div class="opinion container">
  <div class="opinion-container row">
    <div class='opinion-container-title flex flex-col justify-center'>
      <h2 class="opinion-title">
        Opiniones
      </h2>
      <hr class="opinion-hr" />
    </div>
    <div>
      <div class="opinion-container-card mt-5">
        <div id="splide3" class="opinion-splide splide">
         <div class="splide__track opinion-container-splide-track">
           <ul class="splide__list opinion-container-splide-list">
              <li class="splide__slide opinion-container-splide-slide splide-slide-1">
                <img class="opinion-container-card--img" src="../../../assets/opinion-slider-img-1.jpg"/>
                <section class="opinion-container-card--card">
                   <div class="opinion-container-card--one-a">
                    <div class="opinion-container-card-icon-start">
                      <img class="opinion-container-card-icon-start-img" src="../../../assets/icon-slider-11.jpg"/>
                    </div>
                     <div class="opinion-container-card-paragraph-container">
                       <p class="opinion-container-card-paragraph">
                         Lorem ipsum11 dolor sit amet, consectetur adipiscing elit.
                         Quis orci purus pharetra odio.Lorem ipsum11 dolor sit amet, consectetur adipiscing elit.
                         Quis orci purus pharetra odio.
                       </p>
                     </div>
                      <div class="opinion-container-card-name-container">
                        <h3 class="opinion-container-card-name">Lorem ipsum</h3>
                        <p class="opinion-container-card-name--p">Lorem ipsum</p>
                       </div>
                       <div class="opinion-container-card-icon-end">
                        <img class="opinion-container-card-icon-end-img" src="../../../assets/icon-slider-33.png"/>
                      </div>
                   </div>
                 </section>
                   </li>
            
  <li class="splide__slide opinion-container-splide-slide splide-slide-2">
    <img class="opinion-container-card--img" src="../../../assets/opinion-slider-img-2.jpg"/>
 <section class="opinion-container-card--card">
  <div class="opinion-container-card--one-a">
    <div class="opinion-container-card-icon-start">
      <img class="opinion-container-card-icon-start-img" src="../../../assets/icon-slider-11.jpg"/>
    </div>
     <div class="opinion-container-card-paragraph-container">
       <p class="opinion-container-card-paragraph">
         Lorem ipsum22 dolor sit amet, consectetur adipiscing elit.
         Quis orci purus pharetra odio.Lorem ipsum22 dolor sit amet, consectetur adipiscing elit.
         Quis orci purus pharetra odio.
       </p>
     </div>
     <div class="opinion-container-card-name-container">
      <h3 class="opinion-container-card-name">Lorem ipsum</h3>
       <p class="opinion-container-card-name--p">Lorem ipsum</p>
     </div>
     <div class="opinion-container-card-icon-end">
      <img class="opinion-container-card-icon-end-img" src="../../../assets/icon-slider-33.png"/>
    </div>
   </div>
 </section>
   </li>
  <li class="splide__slide opinion-container-splide-slide splide-slide-3">
    <img class="opinion-container-card--img" src="../../../assets/opinion-slider-img-3.jpg"/>
   <section class="opinion-container-card--card">
     <div class="opinion-container-card--one-a">
      <div class="opinion-container-card-icon-start">
        <img class="opinion-container-card-icon-start-img" src="../../../assets/icon-slider-11.jpg"/>
      </div>
       <div class="opinion-container-card-paragraph-container">
         <p class="opinion-container-card-paragraph">
           Lorem ipsum33 dolor sit amet, consectetur adipiscing elit.
           Quis orci purus pharetra odio.Lorem ipsum33 dolor sit amet, consectetur adipiscing elit.
           Quis orci purus pharetra odio.
         </p>
       </div>
       <div class="opinion-container-card-name-container">
        <h3 class="opinion-container-card-name">Lorem ipsum</h3>
        <p class="opinion-container-card-name--p">Lorem ipsum</p>
       </div>
       <div class="opinion-container-card-icon-end">
        <img class="opinion-container-card-icon-end-img" src="../../../assets/icon-slider-33.png"/>
      </div>
     </div>
   </section>
   </li>



           </ul>
           <ul class="splide__list opinion-container-splide-list-desktop">
            <div>
              <li class="splide__slide opinion-container-splide-slide splide-slide-1">
                <img class="opinion-container-card--img" src="../../../assets/opinion-slider-img-1.jpg"/>
                <section class="opinion-container-card--card">
                   <div class="opinion-container-card--one-a">
                    <div class="opinion-container-card-icon-start">
                      <img class="opinion-container-card-icon-start-img" src="../../../assets/icon-slider-11.jpg"/>
                    </div>
                     <div class="opinion-container-card-paragraph-container">
                       <p class="opinion-container-card-paragraph">
                         Lorem ipsum11 dolor sit amet, consectetur adipiscing elit.
                         Quis orci purus pharetra odio.Lorem ipsum11 dolor sit amet, consectetur adipiscing elit.
                         Quis orci purus pharetra odio.
                       </p>
                     </div>
                      <div class="opinion-container-card-name-container">
                        <h3 class="opinion-container-card-name">Lorem ipsum</h3>
                        <p class="opinion-container-card-name--p">Lorem ipsum</p>
                       </div>
                       <div class="opinion-container-card-icon-end">
                        <img class="opinion-container-card-icon-end-img" src="../../../assets/icon-slider-33.png"/>
                      </div>
                   </div>
                 </section>
                   </li>
            </div>
<div>
  <li class="splide__slide opinion-container-splide-slide splide-slide-2">
    <img class="opinion-container-card--img" src="../../../assets/opinion-slider-img-2.jpg"/>
 <section class="opinion-container-card--card">
  <div class="opinion-container-card--one-a">
    <div class="opinion-container-card-icon-start">
      <img class="opinion-container-card-icon-start-img" src="../../../assets/icon-slider-11.jpg"/>
    </div>
     <div class="opinion-container-card-paragraph-container">
       <p class="opinion-container-card-paragraph">
         Lorem ipsum22 dolor sit amet, consectetur adipiscing elit.
         Quis orci purus pharetra odio.Lorem ipsum22 dolor sit amet, consectetur adipiscing elit.
         Quis orci purus pharetra odio.
       </p>
     </div>
     <div class="opinion-container-card-name-container">
      <h3 class="opinion-container-card-name">Lorem ipsum</h3>
     </div>
     <div class="opinion-container-card-icon-end">
      <img class="opinion-container-card-icon-end-img" src="../../../assets/icon-slider-33.png"/>
    </div>
   </div>
 </section>
   </li>
</div>
<div>
  <li class="splide__slide opinion-container-splide-slide splide-slide-3">
    <img class="opinion-container-card--img" src="../../../assets/opinion-slider-img-3.jpg"/>
   <section class="opinion-container-card--card">
     <div class="opinion-container-card--one-a">
      <div class="opinion-container-card-icon-start">
        <img class="opinion-container-card-icon-start-img" src="../../../assets/icon-slider-11.jpg"/>
      </div>
       <div class="opinion-container-card-paragraph-container">
         <p class="opinion-container-card-paragraph">
           Lorem ipsum33 dolor sit amet, consectetur adipiscing elit.
           Quis orci purus pharetra odio.Lorem ipsum33 dolor sit amet, consectetur adipiscing elit.
           Quis orci purus pharetra odio.
         </p>
       </div>
       <div class="opinion-container-card-name-container">
        <h3 class="opinion-container-card-name">Lorem ipsum</h3>
       </div>
       <div class="opinion-container-card-icon-end">
        <img class="opinion-container-card-icon-end-img" src="../../../assets/icon-slider-33.png"/>
      </div>
     </div>
   </section>
   </li>

</div>

           </ul>
         </div>
       </div>
    </div>
</div>
</div>
