<div class="ourMentors">
  <div class="ourMentors-background-img">
    <img class="ourMentors-background-img--img w-100" src="../../../assets/backgroundAzul.png"/>
    <img class="ourMentors-background-img--img2" src="../../../assets/backgrounddesktop.png"/>
  </div>
  <div class="ourMentors-container-subtitulo">
    <h2 class="ourMentors-subtitulo">n<br/>u<br/>e<br/>s<br/>t<br/>r<br/>o<br/>s
      <br/><br/>
      m<br/>e<br/>n<br/>t<br/>o<br/>r<br/>e<br/>s</h2>
  </div>
  <div id="carouselExampleIndicators" class="ourMentors-carousel-container-button carousel slide" data-bs-ride="carousel">
    <div class="ourMentors-carousel-button-container carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="ourMentors-carousel-button active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="ourMentors-carousel-button" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="ourMentors-carousel-button" aria-label="Slide 3"></button>
    </div>
    <div class="ourMentors-casousel-container-img carousel-inner">
      <div class="ourMentors-casousel-img carousel-item active">
        <img src="../../../assets/img-carousel-men.png" class="d-block w-100 ourMentors-img" alt="...">
      </div>
      <div class="ourMentors-casousel-img carousel-item">
        <img  src="../../../assets/img-carousel-men.png" class="d-block w-100 ourMentors-img" alt="...">
      </div>
      <div class="ourMentors-casousel-img carousel-item">
        <img src="../../../assets/img-carousel-men.png" class="d-block w-100 ourMentors-img" alt="...">
      </div>
    </div>
  </div>
</div>
