<div class="about container">
  <div
    class="about-container row gap-5"
  >
    <div class="about-container-title d-flex justify-content-center">
      <h2 class="about-title">Sobre Nosotros</h2>
      <hr class="about-hr" />
    </div>
   
      <!-- 
         <div  class="about-carousel-container-button carousel slide" >
      <div id="carouselExampleIndicators" class="about-carousel-button-container carousel-indicators d-flex justify-content-center" data-bs-ride="carousel">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="about-carousel-button active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          class="about-carousel-button"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          class="about-carousel-button"
          aria-label="Slide 3"
        ></button>
      </div>
        <div class="about-casousel-container-img carousel-inner container col-12">
           <div class="about-casousel-img carousel-item active row col-lg-6 d-flex justify-content-center">
            <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-1.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div
                class="card-body gap-2"
              >
                <div>
                  <h5 class="about-card-title card-title mb-2">¿Quienes somos?</h5>
                </div>
                <div>
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    vitae blandit egestas eget. Nec facilisis malesuada ut quam
                    scelerisque ultrices velit lorem. Ipsum ac ac cursus elit
                    elementum.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-casousel-img carousel-item">
            <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-2.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div
                class="card-body gap-2"
              >
                <div>
                  <h5 class="about-card-title card-title mb-2">Misión</h5>
                </div>
                <div>
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    vitae blandit egestas eget. Nec facilisis malesuada ut quam
                    scelerisque ultrices velit lorem. Ipsum ac ac cursus elit
                    elementum.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-casousel-img carousel-item ">
            <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-3.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div
                class="card-body d-flex flex-column justify-content-center align-items-center gap-3"
              >
                <div >
                  <h5 class="about-card-title card-title mb-2">Visión</h5>
                </div>
                <div >
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    vitae blandit egestas eget. Nec facilisis malesuada ut quam
                    scelerisque ultrices velit lorem. Ipsum ac ac cursus elit
                    elementum.
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div> -->
      <div id="splide" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-1.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div
                class="card-body gap-2"
              >
                <div>
                  <h5 class="about-card-title card-title mb-2">¿Quienes somos?</h5>
                </div>
                <div>
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    vitae blandit egestas eget. Nec facilisis malesuada ut quam
                    scelerisque ultrices velit lorem. Ipsum ac ac cursus elit
                    elementum.
                  </p>
                </div>
              </div>
            </div></li>
      <li class="splide__slide"> <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-2.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div
                class="card-body gap-2"
              >
                <div>
                  <h5 class="about-card-title card-title mb-2">Misión</h5>
                </div>
                <div>
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    vitae blandit egestas eget. Nec facilisis malesuada ut quam
                    scelerisque ultrices velit lorem. Ipsum ac ac cursus elit
                    elementum.
                  </p>
                </div>
              </div>
            </div></li>
      <li class="splide__slide"> <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-3.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div
                class="card-body d-flex flex-column justify-content-center align-items-center gap-3"
              >
                <div >
                  <h5 class="about-card-title card-title mb-2">Visión</h5>
                </div>
                <div >
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    vitae blandit egestas eget. Nec facilisis malesuada ut quam
                    scelerisque ultrices velit lorem. Ipsum ac ac cursus elit
                    elementum.
                  </p>
                </div>
              </div>
          </div></li>
     
    </ul>
  </div>
</div>  
  </div>
</div>
