.about{
  width: 100%;
}

.about-container-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title{
  font-family: var(--tipografiaAlegreya);
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
color: #1B3761;
}

.about-hr{
  margin-top: -5px;
border: 1.36842px solid #1B3761;
width: 198px;
}


 .about-card{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 41px 18px;
gap: 30.44px;
height: 470px;
border: 1px solid #1B3761;
border-radius: 25px;
}

.about-img{
width: 211px;
height: 210px;
}

.about-carousel-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 1em;
  position: absolute;
  top: 31em;
  transform: translateY(-50%);
}

.splide__pagination__page {
  background-color: #FFFFFF !important;
  border: 1px solid #1B3761 !important;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}

.about-carousel-button.active {
  background-color: #1B3761;
}

.about-card-title{
  font-family: var(--tipografiaAlegreya);
  font-style: normal;
  font-weight: 500;
  font-size: 24.7755px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1B3761;
}

.about-card-text{
  font-family: var(--tipografiaAlegreya);
  font-style: normal;
  font-weight: 300;
  font-size: 14.1574px;
  line-height: 17px;
  text-align: center;
  color: #1B3761;
}




@media (min-width: 1024px) {

}
