<div class="about">
  <div class="about-container gap-5">
    <div class="about-container-title flex flex-col justify-center">
      <h2 class="about-title flex flex-col justify-center">Sobre Nosotros</h2>
      <hr class="about-hr flex justify-center" />
    </div>
    <div id="splide1" class="about-container-splide splide">
      <div class="splide__track about-container-splide-track">
        <ul class="splide__list about-container-splide-list">
          <!-- style="transform: none !important" [style.transform]="'translateX(' + translateValue + 'px) !important'" -->
          <li class="splide__slide about-container-splide-slide splide__slide-about-1" (click)="cambiarTransformacion('1')">
            <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-1.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div class="card-body gap-2">
                <div>
                  <h5 class="about-card-title card-title mb-2">
                    ¿Quienes somos?
                  </h5>
                </div>
                <div>
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc vitae blandit egestas eget. Nec facilisis malesuada ut
                    quam scelerisque ultrices velit lorem. Ipsum ac ac cursus
                    elit elementum.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="splide__slide splide__slide-about-2" (click)="cambiarTransformacion('2')">
            <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-2.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div class="card-body gap-2">
                <div>
                  <h5 class="about-card-title card-title mb-2">Misión</h5>
                </div>
                <div>
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc vitae blandit egestas eget. Nec facilisis malesuada ut
                    quam scelerisque ultrices velit lorem. Ipsum ac ac cursus
                    elit elementum.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="splide__slide splide__slide-about-3" (click)="cambiarTransformacion('3')">
            <div class="about-card">
              <img
                src="../../../assets/nosotros-carrusel-3.png"
                class="d-block w-100 card-img-top about-img"
                alt="..."
              />
              <div
                class="card-body d-flex flex-column justify-content-center align-items-center gap-3"
              >
                <div>
                  <h5 class="about-card-title card-title mb-2">Visión</h5>
                </div>
                <div>
                  <p class="about-card-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc vitae blandit egestas eget. Nec facilisis malesuada ut
                    quam scelerisque ultrices velit lorem. Ipsum ac ac cursus
                    elit elementum.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
