<div class="home">
  <div class="home-container-weAre">
       <app-we-are></app-we-are>
       <div class="home-weAre">
      <app-our-mentors></app-our-mentors>
    </div>
    <div class="home-img-svg1">
      <img src="../../../assets/square-circle1.png"/>
    </div>
    <div class="home-img-svg2">
      <img src="../../../assets/square-circle2.png"/>
    </div>
    <div class="home-img-svg3">
      <img src="../../../assets/square-circle3.png"/>
    </div>
  </div>
  <div class="home-container-about">
    <app-about></app-about>
  </div>
</div>
