@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tecnology {
  width: 100%;
}

.tecnology-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecnology-title {
  font-family: var(--tipografiaAlegreya);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #134675;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tecnology-hr {
  margin-top: -5px;
  border: 1.36842px solid #1b3761;
  width: 132px;
}

.tecnology-container-card--card {
  /* position: absolute; */
  width: 100%;
  height: 211px;
  /*   left: calc(50% - 1448px/2 - 0.5px);
  top: calc(50% - 211px/2 + 0.5px);
 */
  background: #f8f8f8;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #17223a;
}

.tecnology-container-card--container {
  position: relative;
  top: 50px;
}

.tecnology-container-card--img {
  width: 56.48px;
  height: 83px;
}

.tecnology-container-paragraph {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tecnology-container-paragraph--paragraph {
  width: 262px;
  height: 328px;
  font-family: var(--tipografiaAlegreya);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

@media (min-width: 768px) {
  .tecnology-title {
    width: 197px;
    height: 21px;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }

  .tecnology-hr {
    width: 215px;
    height: 0px;
    border: 2px solid #1b3761;
    margin-top: 18px;
  }
}
