<div class="tecnology">
  <div class="tecnology-container">
    <div class="tecnology-container-title flex flex-col justify-center">
      <h2 class="tecnology-title">Tecnologias</h2>
      <hr class="tecnology-hr" />
    </div>
    <div class="tecnology-container-card--card mt-5">
      <div class="tecnology-container-card--container">
        <ul
          class="tecnology-container-card-list flex flex-row justify-around items-center"
        >
          <li class="tecnology-container-card-li">
            <section class="tecnology-container-card">
              <div>
                <img
                  class="tecnology-container-card--img"
                  src="../../../assets/slider-tecnologias-1.png"
                />
              </div>
            </section>
          </li>
          <li class="tecnology-container-card-li">
            <section class="tecnology-container-card">
              <div>
                <img
                  class="tecnology-container-card--img"
                  src="../../../assets/slider-tecnologias-2.png"
                />
              </div>
            </section>
          </li>
          <li class="tecnology-container-card-li">
            <section class="tecnology-container-card">
              <div>
                <img
                  class="tecnology-container-card--img"
                  src="../../../assets/slider-tecnologias-3.png"
                />
              </div>
            </section>
          </li>
        </ul>
      </div>
    </div>
    <div class="tecnology-container-paragraph mt-5">
      <p class="tecnology-container-paragraph--paragraph px-5">
        En nuestra empresa, nos enorgullece trabajar con las tecnologías más populares y ampliamente utilizadas en el desarrollo
        de software. Nuestro equipo está altamente capacitado y experimentado en el uso de estas tecnologías líderes en la
        industria.
        <br><br>
        Trabajamos con lenguajes de programación ampliamente reconocidos, como Java, Python, JavaScript, C# y Ruby, que nos
        permiten crear aplicaciones robustas y escalables. Utilizamos los frameworks y librerías más populares, como Angular,
        React, Spring, Django y Ruby on Rails, para acelerar el desarrollo y garantizar la calidad de nuestros proyectos.
      </p>
    </div>
  </div>
</div>
