<div class="tecnology">
  <div class="tecnology-container">
    <div class='tecnology-container-title flex flex-col justify-center'>
      <h2 class="tecnology-title">
        Tecnologias
      </h2>
      <hr class="tecnology-hr" />
    </div>
    <div class="tecnology-container-card--card mt-5">
      <div class="tecnology-container-card--container">
            <ul class="tecnology-container-card-list flex flex-row justify-around items-center">
              <li class="tecnology-container-card-li">
                <section class="tecnology-container-card">
                    <div>
                      <img class="tecnology-container-card--img" src="../../../assets/slider-tecnologias-1.png"/>
                    </div>
                </section>
                  </li>
              <li class="tecnology-container-card-li">
                <section class="tecnology-container-card">
                    <div>
                      <img class="tecnology-container-card--img" src="../../../assets/slider-tecnologias-2.png"/>
                  </div>
                </section>
                  </li>
              <li class="tecnology-container-card-li">
                <section class="tecnology-container-card">
                    <div>
                      <img class="tecnology-container-card--img" src="../../../assets/slider-tecnologias-3.png"/>
                    </div>
                </section>
                </li>
            </ul>
          </div>
        </div>
        <div class="tecnology-container-paragraph mt-5">
          <p class="tecnology-container-paragraph--paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Leo rutrum nisi dictumst fermentum dui eu quis ut porta. 
            Dictum quisque volutpat diam varius. 
            Luctus massa sodales diam eleifend massa. Pretium purus nec enim facilisis.
          </p>
        </div>
            </div>
    </div>




