<mat-toolbar color="white" class="header">
  <mat-toolbar-row class="header-container">
    <div class='header-container-logo ml-3' >
      <img  class='header-logo' src="../../../assets/logo code.png"/>
    </div>
    <div>
      <ul class="header-menu-items2 flex space-x-4">
        <li><a class='header-sidenav-link ' href="#">Sobre Nosotros</a></li>
        <li><a class='header-sidenav-link ' href="#">Servicios</a></li>
        <li><a class='header-sidenav-link ' href="#">Portafolios</a></li>
        <li><a class='header-sidenav-link ' href="#">Comunidad</a></li>
        <li><a class='header-sidenav-link ' href="#">Contacto</a></li>
      </ul>
    </div>
    <div class='header-button-mobile'>
      <button mat-icon-button class="example-icon header-button-mobile--mobile" aria-label="Example icon-button with menu icon"
      (click)="toggleContent()">
      <mat-icon class='header-button-icon' [ngStyle]="{ color: isWhite ? 'white' : 'black' }">{{ showContent ? 'close' : 'menu' }}</mat-icon>
        </button>
          <section>
            <ul class="header-sidenav header-menu-items" [ngClass]="{ 'show': isMenuOpen }" *ngIf="showContent">
            <li class="text-center mt-10"><a class='header-sidenav-link' href="#">Sobre Nosotros</a></li>
            <li class="text-center"><a class='header-sidenav-link' href="#">Servicios</a></li>
            <li class="text-center"><a class='header-sidenav-link' href="#">Portafolios</a></li>
            <li class="text-center"><a class='header-sidenav-link' href="#">Comunidad</a></li>
            <li class="text-center"><a class='header-sidenav-link' href="#">Contacto</a></li>
          </ul>
        </section>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>
