<div class="comunity container">
  <div class="comunity-container row">
    <div class='comunity-container-title flex flex-col justify-center'>
      <h2 class="comunity-title">
        Comunidad
      </h2>
      <hr class="comunity-hr" />
    </div>
    <div class="flex flex-row items-center justify-center flex-wrap gap-2">
      <div class="flex items-center justify-center mt-5">
        <div class="comunity-container-card flex items-center justify-center">
          <p class="comunity-container-card-paragraph">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Nunc vitae blandit egestas eget.
            Nec facilisis malesuada ut quam scelerisque ultrices velit lorem.
            Ipsum ac ac cursus elit elementum.
          </p>
        </div>
      </div>
      <div class="flex items-center justify-center mt-5">
        <div class="comunity-container-card-image">
          <img class="comunity-container-image" src="../../../assets/comunity-image-copa.png"/>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <div class="comunity-container-card-button mt-5">
          <img class="comunity-container-card-button--img"  src="../../../assets/discord-log.png"/> 
          <a class="comunity-container-card-button--a" >Unete a nuestra comunidad discord</a> 
      </div>
    </div>
    </div>
    </div>
