<div class="portafolio container">
  <div class="portafolio-container row">
    <div class='portafolio-container-title flex flex-col justify-center'>
      <h2 class="portafolio-title">
        Portafolio
      </h2>
      <hr class="portafolio-hr" />
    </div>

           <!-- <section class="portafolio-container-card--one">
              <div class="portafolio-container-card--one-c"></div>
              <div class="portafolio-container-card--one-b"></div>
              <div class="portafolio-container-card--one-a">
                <div>
                  <img class="portafolio-container-card--one-a-img" src="../../../assets/portafolio-img-carusel.png"/>
                </div>
                <div>
                  <p class="portafolio-container-card--one-a-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quis orci purus pharetra odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quis orci purus pharetra odio.
                  </p>
                </div>
              </div>
            </section>
            <section class="portafolio-container-card--two">
              <div class="portafolio-container-card--two-c"></div>
              <div class="portafolio-container-card--two-b"></div>
              <div class="portafolio-container-card--two-a">
                <div>
                  <img class="portafolio-container-card--two-a-img" src="../../../assets/portafolio-img-carusel.png"/>
                </div>
                <div>
                  <p class="portafolio-container-card--two-a-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quis orci purus pharetra odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quis orci purus pharetra odio.
                  </p>
                </div>
              </div>
            </section>


              <section class="portafolio-container-card--three">
                <div class="portafolio-container-card--three-c"></div>
                <div class="portafolio-container-card--three-b"></div>
                <div class="portafolio-container-card--three-a">
                  <div>
                    <img class="portafolio-container-card--three-a-img" src="../../../assets/portafolio-img-carusel.png"/>
                  </div>
                  <div>
                    <p class="portafolio-container-card--three-a-paragraph">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Quis orci purus pharetra odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Quis orci purus pharetra odio.
                    </p>
                  </div>
                </div>
              </section>
               </div>
 -->
 <div class="portafolio-container-card">
 <div id="splide2" class="portafolio-container-splide splide">
  <div class="splide__track portafolio-container-splide-track">
    <ul class="splide__list portafolio-container-splide-list ">
      <li class="splide__slide portafolio-container-splide-slide splide-slide-1">
        <section class="portafolio-container-card--one">
         <div class="portafolio-container-card--one-c"></div>
          <div class="portafolio-container-card--one-b"></div>
          <div class="portafolio-container-card--one-a">
            <div>
              <img class="portafolio-container-card--one-a-img" src="../../../assets/portafolio-img-carusel.png"/>
            </div>
            <div>
              <p class="portafolio-container-card--one-a-paragraph">
                Lorem ipsum11 dolor sit amet, consectetur adipiscing elit.
                Quis orci purus pharetra odio.Lorem ipsum11 dolor sit amet, consectetur adipiscing elit.
                Quis orci purus pharetra odio.
              </p>
            </div>
          </div>
        </section>
          </li>
      <li class="splide__slide splide-slide-2">
        <section class="portafolio-container-card--two">
          <div class="portafolio-container-card--two-c"></div>
          <div class="portafolio-container-card--two-b"></div>
          <div class="portafolio-container-card--two-a">
            <div>
              <img class="portafolio-container-card--two-a-img" src="../../../assets/portafolio-img-carusel.png"/>
            </div>
            <div>
              <p class="portafolio-container-card--two-a-paragraph">
                Lorem ipsum22 dolor sit amet, consectetur adipiscing elit.
                Quis orci purus pharetra odio.Lorem ipsum22 dolor sit amet, consectetur adipiscing elit.
                Quis orci purus pharetra odio.
              </p>
            </div>
          </div>
        </section>
          </li>
      <li class="splide__slide splide-slide-3">

        <section class="portafolio-container-card--three">
          <div class="portafolio-container-card--three-c"></div>
          <div class="portafolio-container-card--three-b"></div>
          <div class="portafolio-container-card--three-a">
            <div>
              <img class="portafolio-container-card--three-a-img" src="../../../assets/portafolio-img-carusel.png"/>
            </div>
            <div>
              <p class="portafolio-container-card--three-a-paragraph">
                Lorem ipsum33 dolor sit amet, consectetur adipiscing elit.
                Quis orci purus pharetra odio.Lorem ipsum33 dolor sit amet, consectetur adipiscing elit.
                Quis orci purus pharetra odio.
              </p>
            </div>
          </div>
        </section>
        </li>

    </ul>
  </div>
</div>
</div>
    </div>
  </div>


