<div class="ourServices container">
  <div class="ourServices-container row">
    <div class="ourServices-container-title flex flex-col justify-center">
      <h2 class="ourServices-title">Servicios</h2>
      <hr class="ourServices-hr" />
    </div>
    <div class="ourServices-container-card flex justify-around flex-wrap mt-10">
      <div class="ourServices-card">
        <img
          src="../../../assets/servicios-imagen-1.png"
          class="d-block w-100 card-img-top ourServices-img"
          alt="..."
        />
        <div class="card-body flex flex-row items-center gap-5">
          <div>
            <h2 class="ourServices-card-title card-title mb-2">
              Desarrollo de Software
            </h2>
          </div>
          <div>
            <span><i class="ourServices-card-icon fa-solid fa-play"></i></span>
          </div>
        </div>
      </div>
      <div class="ourServices-card">
        <img
          src="../../../assets/servicios-imagen-2.png"
          class="d-block w-100 card-img-top ourServices-img"
          alt="..."
        />
        <div class="card-body flex flex-row items-center gap-5">
          <div>
            <h2 class="ourServices-card-title card-title mb-2">
              Marketing Digital
            </h2>
          </div>
          <div>
            <span><i class="ourServices-card-icon fa-solid fa-play"></i></span>
          </div>
        </div>
      </div>
      <div class="ourServices-card">
        <img
          src="../../../assets/servicios-imagen-3.png"
          class="d-block w-100 card-img-top ourServices-img"
          alt="..."
        />
        <div class="card-body flex flex-row items-center gap-5">
          <div>
            <h2 class="ourServices-card-title card-title mb-2">
              Capacitación empresarial
            </h2>
          </div>
          <div>
            <span><i class="ourServices-card-icon fa-solid fa-play"></i></span>
          </div>
        </div>
      </div>
      <div class="ourServices-card">
        <img
          src="../../../assets/servicios-imagen-4.png"
          class="d-block w-100 card-img-top ourServices-img"
          alt="..."
        />
        <div class="card-body flex flex-row items-center gap-5">
          <div>
            <h2 class="ourServices-card-title card-title mb-2">
              Diseño Gráfico
            </h2>
          </div>
          <div>
            <span><i class="ourServices-card-icon fa-solid fa-play"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
